* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-width: 500px;
}
.section1 {
    display: flex;
    background-color: #1F2937;
    justify-content: space-around;
    align-items: center;
    padding: 18px;
}

.header {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;    
}

ul {
    display: flex;
    list-style: none;
    gap: 48px;
    }

a {
    text-decoration: none;
    color: rgba(249, 250, 248, 0.9);
}

